@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<WebDemo.Models.Post>

@{
    Category category = ViewBag.DanhMuc;
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- section main content -->
<section class="main-content">
    <div class="container-xl">

        <div class="row gy-4">

            <div class="col-lg-8">

                <div class="row gy-4">
                    @if (Model != null && Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {

                            string url = $"/{item.Alias}.html";
                            <div class="col-sm-6">
                                <div class="post post-grid rounded bordered">
                                    <div class="thumb top-rounded">
                                        <a href="/@item.Cat.Alias" class="category-badge position-absolute">@item.Cat.CatName</a>
                                        <span class="post-format">
                                            <i class="icon-picture"></i>
                                        </span>
                                        <a href="@url">
                                            <div class="inner">
                                                <img src="~/images/news/@item.Thumb" alt="@item.Title" />
                                            </div>
                                        </a>
                                    </div>
                                    <div class="details">
                                        <ul class="meta list-inline mb-0">
                                            <li class="list-inline-item"><a href="#"><img src="images/other/author-sm.png" class="author" alt="@item.Title" />@item.Author</a></li>
                                            <li class="list-inline-item">@item.CreateDate</li>
                                        </ul>
                                        <h5 class="post-title mb-3 mt-3"><a href="@url">@item.Title</a></h5>
                                        <p class="excerpt mb-0">@item.Scontent</p>
                                    </div>
                                    <div class="post-bottom clearfix d-flex align-items-center">
                                        <div class="social-share me-auto">
                                            <button class="toggle-button icon-share"></button>
                                            <ul class="icons list-unstyled list-inline mb-0">
                                                <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                                <li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                                <li class="list-inline-item"><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
                                                <li class="list-inline-item"><a href="#"><i class="far fa-envelope"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="more-button float-end">
                                            <a href="@url"><span class="icon-options"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    }



                </div>

                <div aria-label="Page navigation example">
                    <ul class="pagination">
                        <pager class="pager-container" options="@PagedListRenderOptions.Bootstrap4PageNumbersOnly" list="@Model" asp-route-Alias="@category.Alias" asp-area="" asp-controller="Posts" asp-action="List" />

                    </ul>
                </div>

            </div>
            <div class="col-lg-4">

                <!-- sidebar -->
                <div class="sidebar">
                    <!-- widget about -->
               

                    <!-- widget popular posts -->

                    @await Component.InvokeAsync("Popular")



                    <!-- widget categories -->
                    <div class="widget rounded">
                        <div class="widget-header text-center">
                            <h3 class="widget-title">Explore Topics</h3>
                            <img src="images/wave.svg" class="wave" alt="wave" />
                        </div>
                        @await Component.InvokeAsync("Categories")
                    </div>

                    <!-- widget post carousel -->
                 

                    <!-- widget advertisement -->
                    <div class="widget no-container rounded text-md-center">
                        <span class="ads-title">- Sponsored Ad -</span>
                        <a href="#" class="widget-ads">
                            <img src="images/ads/ad-360.png" alt="Advertisement" />
                        </a>
                    </div>

                 
                </div>

            </div>

        </div>

    </div>
</section>
